resources:
- type: compute.v1.httpHealthCheck
  name: gcp-hc-{{ properties["hc_name"] }}
  properties:
     port: {{ properties["port"] }}
     requestPath: "/"
     checkIntervalSec: 60
- type: compute.v1.targetPool
  name: gcp-tp-{{ properties["tp_name"] }}
  properties:
    region: us-east1
    instances: [ {{ properties["vm1"] }},{{ properties["vm2"] }},{{ properties["vm3"] }} ]
    healthChecks: [$(ref.gcp-hc-{{ properties["hc_name"] }}.selfLink)]
- type: compute.v1.forwardingRule
  name: gcp-fr-{{ properties["fr_name"] }}
  properties:
    region: us-east1
    portRange: {{ properties["port"] }}
    target: $(ref.gcp-tp-{{ properties["tp_name"] }}.selfLink) 
